* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    height: auto;
    /* background-color: rgb(161, 161, 255); */
    z-index: 1000px;
}

h1 {
    text-align: center;
    padding: 2vh;
}

.em-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 2vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th:nth-child(1), td:nth-child(1),th:nth-child(2), td:nth-child(2) {
    min-width: 180px;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.delete-button {
    padding: 3px;
    color: white;
    background-color: rgb(181, 17, 17);
}